@{
    ViewBag.Title = "Home Page";
}

<div id="slider1_container">
    <!-- Loading Screen -->
    <div u="loading">
        <div></div>
        <div></div>
    </div>

    <!-- Slides Container -->
    <div u="slides">
        <div>
            <img u="image" src="~/Content/Slider/Images/01.jpg" />
        </div>
        <div>
            <img u="image" src="~/Content/Slider/Images/02.jpg" />
        </div>
        <div>
            <img u="image" src="~/Content/Slider/Images/01.jpg" />
        </div>
        <div>
            <img u="image" src="~/Content/Slider/Images/02.jpg" />
        </div>
    </div>

    <!-- Bullet Navigator Skin Begin -->
    <!-- Bullet navigator container -->
    <div u="navigator" class="jssorb05" style="position: absolute; top: 270px; right: 6px; width: 250px; height: 16px; left: 175px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype"></div>
    </div>
    <!-- Bullet Navigator Skin End -->
    <!-- Arrow Navigator Skin Begin -->
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora12l"></span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora12r"></span>
    <!-- Arrow Navigator Skin End -->
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-lg-8">
        <h1>Welcome to our website</h1>
        <div>
            This is a best place for kitchen and floor solutions.Offering a large range of kitchen interiors, designer and bespoke kitchen at a affordable prices in London. We offer a wide selection of styles flooring – laminate, engineered wood flooring, solid wood flooring, parquet, Safety Flooring (vinyl).
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/Slider/Scripts/jssor.js"></script>
    <script src="~/Content/Slider/Scripts/jssor.slider.js"></script>
    <script src="~/Content/Slider/Scripts/jssor.custom.js"></script>
}
